#### Server config (used by FastApiConfig)
PRODUCTION=false #True False will run different way uvicorn 
SERVER_TITLE=fastapi_server
DESCRIPTION=some description
VERSION=1.0.0

#### FastApi config (used by FastApiConfig)
HOST=0.0.0.0
PORT=8000
CORS_ORIGINS=*

#### Uvicorn server config (used by MainConfig in main.py)
RELOAD=true
UVICORN_LOG_LEVEL=debug

#### Component logging levels (used by MainConfig in main.py)
MAIN_LOG_LEVEL=DEBUG
FASTAPI_LOG_LEVEL=DEBUG
